<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>

  <appender name="STDOUT" class="ConsoleAppender">
    <!--encoder class="PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder-->
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"application":"geolocation"}</customFields>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="org.testcontainers" level="INFO"/>
  <!-- The following logger can be used for containers logs since 1.18.0 -->
  <logger name="tc" level="INFO"/>
  <logger name="com.github.dockerjava" level="WARN"/>
  <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF"/>
</configuration>
